<div class="jumbotron">
	<h1>Welcome to my APP</h1>
	<p>Click HERE to 
       <%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %> or 
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>   
	<p>
</div>

